<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="">
<head>
  <title>Login</title>
  <link rel="stylesheet" href="/css/style.css">
</head>
<body>
<h1>Login</h1>
<form action="/login" th:action="@{/login}" method="post">
  <input type="hidden" name="_csrf" th:value="${_csrf.token}" />

  <label for="username">Username:</label>
  <input type="text" id="username" name="username" required/>

  <label for="password">Password:</label>
  <input type="password" id="password" name="password" required/>

  <button type="submit">Login</button>
</form>
<div class="home_welcome">
<a href="/register">Register Here</a>
</div>
</body>
</html>