<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="">
<head>
  <title>Register</title>
  <link rel="stylesheet" href="/css/style.css">
</head>
<body>
<h1>Register</h1>
<form th:action="@{/register}" method="post">
  <label for="username">Username:</label>
  <input type="text" id="username" name="username" required/>

  <label for="password">Password:</label>
  <input type="password" id="password" name="password" required/>

  <button type="submit">Register</button>
</form>
<div class="home_welcome">
<a href="/login">Back to Login</a>
</div>
</body>
</html>